h2 {
  margin: auto;
  width: 20%;
}
.registration-form-field {
  display: block;
  justify-content: space-evenly;
  padding: 10px;
}
.registration-form {
  margin: auto;
  width: 35%;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
