.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
}
.name {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: fit-content;
  margin: auto;
}

.header {
  background-color: #ffeddf;
}
